.auth-modal-container {
    display: flex;
    position: absolute;
    top: 30%;
    margin-left: 20%;
    margin-right: auto;
    width: 400px;
    max-width: 360px;
    height: 400px;
    background-color: #103359de;
    border-radius: 5px;
    padding: 0.6rem;
    color: #ffffff;
}

.auth-modal {
    position: relative;
}

.auth-modal .closeIcon {
    font-size: 2rem;
    margin-left: 250%;
}