.auth-modal-container {
    z-index: 99;
    width: 30vw;
    max-width: 40vw;
    height: 65vh;
    background: linear-gradient(to right, #DA22FF 0%, #9733EE  41%, #DA22FF  100%); 
    border-radius: 1rem;
    color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-modal {
    position: relative;
}

.text-area {
    display: block;
}

.text-area > h4 {
    font-family: var(--main-font);
    margin: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

.auth-modal .closeIcon {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0.5rem;
}

.form-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-signup > input {
    margin: 0.8rem;
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.form-signup input::placeholder {
    font-family: var(--main-font);
}

.form-signup button {
    width: 200px;
    margin: 1rem;
}

.overlay {
    background: rgba(15, 15, 16, 0.664);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

