/* span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    border: 1px solid #33333323;
    border-radius: 5px;
    box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24)
}

/* form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
} */

input {
    margin: 0 0 20px 0;
    padding: 5px 10px;
    height: 20px;
}

#newUser {
    margin: 1rem;
} 