@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap');

body {
    font-family: var(--main-font);
}

nav h2 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: var(--white-color);
}

nav ul {
    background: rgba(253, 69, 247, 0.545);
    width: 70px;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.333);
    transform: translateY(55px);
    text-align: center;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    padding: 10px 10px;
}

.icon {
    width: 1.8rem;
}

.icon:hover {
    transform: scale(1.2);
    filter:invert(1) drop-shadow(0.5rem 0.5rem 0.5rem rgb(0, 0, 0));
}

nav li:hover img, .active img {
    filter: invert(1) drop-shadow(0.5rem 0.5rem 0.5rem rgb(0, 0, 0));
}

nav img {
    filter:invert(1);
}