.form-cont {
    width: 70vw;
    /* height: 92vh; Onis changed this for testing purposes */
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.39);
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.form-cont h2 {
    text-align: center;
    padding: 1rem 0 1.5rem 0;
    color: rgba(255, 255, 255, 0.8);
}

.form-cont small {
    color: rgba(255, 255, 255, 0.7);
    margin: 0.6rem 0 0.6rem 0;
}

.left-form {
    margin: 2rem 3rem 2rem 5rem;
    width: 200px;
    float: left;
}

.right-form {
    width: 400px;
    margin-top: 5.2rem;
    float: right;
    margin: 6.2rem 3rem 2rem 4rem; 
}

.birthday-container {
    display: flex;
    justify-content: space-around;
}

.birthday-container input {
    width: 65px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.685);
    margin-bottom: 0.5rem;
}

.radio {
    display: flex;
    margin: 0.5rem;
    justify-content: space-around;
}

.radio input[type="radio"] {
    display: none;
    border: 1px solid white;
    border-radius: 5px;
}
.radio1 label{
    /* CSS addition for radio button change */
    display: flex;
    margin: 0.2rem;
    justify-content: space-around;
}

.radio1 input[type="radio"] {
     /* CSS addition for radio button change */
    border: none;
 }

.radio label {
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    width: 65px;
    text-align: center;
    margin: 0.2rem;
}

.radio input[type="radio"]:checked+label,
.Checked+label {
    background: var(--purple);
}

.radio label:hover {
    background: var(--purple);
}


.form-cont input[type="text"] {
    display: block;
    width: 230px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.685);
    font-family: var(--main-font);
    margin-bottom: 0.5rem;
}

.right-form input[type="text"] {
    width: 370px;
}

.form-cont label,
small {
    font-size: 0.8rem;
    color: var(--white-color);
    display: inline-block;
    padding: 5px;
}

.form-cont textarea {
    width: 230px;
    height: 80px;
    display: block;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.685);
    font-family: var(--main-font);
    padding: 5px;
}

.form-cont input,
textarea:focus {
    border-color: transparent;
    outline: none;
}

.eras label {
    font-size: 0.7rem;
}

.eras, .left-form input[type="checkbox"] {
    transform: scale(1.3);
    vertical-align: middle;
    margin: 0.4rem;
    accent-color: var(--purple);
}

.eras {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem 2rem;
}

.right-form button {
    margin: 4rem 0 0 5rem;
    width: 200px;
}

.photo-upload input {
    width: 370px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.685);
    font-family: var(--main-font);
    display: block;
    margin: 0 0 2rem 0;
}

.photo-container img {
    width: 200px;
    height: auto;
    margin: 0 5rem 0 5rem;
}