body {
    color: var(--white-color);
}

h3 {
    margin: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.profile-card p {
    margin: 1rem;
    line-height: 1rem;
    display: block;
}

.profile-card {
    width: 500px;
    height: 650px;
    border-radius: 1rem;
    background-color: rgba(240, 255, 255, 0.336);
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.444);
    position: relative;
}

.pfp {
    width: 200px;
    height: auto;
    border-radius: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.music-data-box {
    width: 498px;
    height: 370px;
    border-radius: 1rem;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
}

.icons-box {
    width: 75px;
    height: 35px;
    /* border: 1px solid white; */
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.icons-box img {
    padding: 2px;
    filter: invert();
}