body {
    color: var(--white-color);
}

h3 {
    margin: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

/* CARD CONTAINER */

.profile-card {
    width: 450px;
    height: fit-content;
    border-radius: 1rem;
    background-color: rgba(240, 255, 255, 0.336);
    margin: 0 auto;
    margin-top: -5%;
    border: 2px solid rgba(255, 255, 255, 0.444);
    position: relative;
}  

.profile-card .info-box {
    width: 225px;
    height: 300px;
    /* border: 1px solid white; */
    border-radius: 1rem;
}

.profile-card p {
    margin: 0.7rem 0.2rem 0.7rem 1rem;
    line-height: 0.6rem;
    display: block;
    font-size: 0.9rem;
    line-height: 1rem;
}

.profile-card span {
    margin: 0 0.2rem 1rem 1rem;
    font-size: 0.8rem;
}

.music-data-box {
    width: 448px;
    height: 250px;
    /* border-radius: 1rem;
    border: 1px solid white; */
}

/* IMAGES & ICONS */

.pfp {
    width: 180px;
    height: auto;
    border-radius: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.pin {
    display: inline-block;
    width: 0.8rem;
    height: auto;
    filter: invert(1);
}

.gender-icon {
    display: inline-block;
    width: 0.9rem;
    height: auto;
    filter: invert(1);
}

/* SPOTIFY LINK */

.spotify-btn {
    width: 180px;
    font-size: .7rem;
}

.spotify-box {
    /* border: 1px solid white;
    border-radius: 1rem; */
    height: 4rem;
    position: relative;
}

.current-track button {
    position: absolute;
    left: -.5rem;
    bottom: -2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 99;
}

.tooltip {
    position: relative; 
    border-bottom: 1px dashed #000; 
  }

  .tooltip:before {
    content: attr(data-text); 
    position: absolute;
    bottom: -50%;
    transform: translateY(-10%);
    width: 200px;
    padding: 10px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.35);
    color: rgb(75, 75, 75);
    text-align: center;
    display: none;
}

  .tooltip:hover:before {
    display:block;
  }

  .recs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 3rem;
    width: 75vw;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.music-recs {
    text-align: center;
    margin: 3rem;
}

.music-recs p {
    margin: 2rem;
}


